:host {
  .wrapper {
    padding: 2rem;
  }

  .graph__container {
    width: 80%;
    max-height: 350px;
  }

  .gap-1 {
    gap: 1rem;
  }

  .gap-10 {
    gap: 10px;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }


  img {
    max-width:220px ;
  }

  .card {
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  @media (max-width: 400px) {
    .wrapper {
      padding: 1rem;
    }

    .player-stats {
      flex-direction: column;
    }

    .graph__container {
      width: 100%;
      max-height: 350px;
    }
  }
}
