<div class="wrapper">
  <h1 class="mb-5">Visualização Jogadores da copa</h1>
  <div class="d-flex justify-content-between align-items-baseline">
    <nav>
      <ul class="pagination pagination-sm">
        <li class="page-item" [ngClass]="{'active':service.pageIndex === 1}" (click)="changePageIndex(1)">
          <a class="page-link">1</a>
        </li>
        <li class="page-item" [ngClass]="{'active':service.pageIndex === 2}" (click)="changePageIndex(2)"><a
            class="page-link">2</a></li>
        <li class="page-item" [ngClass]="{'active':service.pageIndex === 3}" (click)="changePageIndex(3)"><a
            class="page-link">3</a></li>
        <li class="page-item" [ngClass]="{'active':service.pageIndex === 4}" (click)="changePageIndex(4)"><a
            class="page-link">4</a></li>
        <li class="page-item" [ngClass]="{'active':service.pageIndex === 5}" (click)="changePageIndex(5)"><a
            class="page-link">5</a></li>
        <li class="page-item" [ngClass]="{'active':service.pageIndex === 6}" (click)="changePageIndex(6)"><a
            class="page-link">6</a></li>
      </ul>
    </nav>
    <div class="btn-group btn-group-toggle mb-1" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="options" value="bar" id="option1" [ngModel]="type" (click)="changeType('bar')" />
        Barra
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" value="scatter" id="option2" [ngModel]="type"
          (click)="changeType('scatter')" />
        Area
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" value="pie" id="option3" [ngModel]="type" (click)="changeType('pie')" />
        Pizza
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" value="" id="option4" [ngModel]="type" (click)="changeType('')" />
        Donuts
      </label>
    </div>
  </div>
  <div *ngIf="service.isLoading" class="d-flex h-100 mt-5 justify-content-center">

    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <section class="d-flex gap-1 flex-column" *ngIf="!service.isLoading &&( players | async) as players">
    <div *ngFor="let player of players index as $index" class="card">
      <div class="d-flex player-stats">
        <img class="w-80 d-flex flex-1" alt="default player img"
          src="assets/generic-player.webp" />
        <section class="flex-2 d-flex justify-content-center h-100">
          <div class="graph__container" appPlotly id="{{ player.id }}" [idGraph]="player.id" [data]="player.graph">
          </div>
        </section>
      </div>
      <table class="table table-striped w-100 overflow-auto">
        <thead>
          <tr>
            <th scope="col" style="width: 10px">#</th>
            <th scope="col" *ngFor="let header of headers">{{ header }}</th>
            <th scope="col" style="width: 8.33%">
              <div class="d-flex justify-content-center">Ação</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <ng-container [ngTemplateOutlet]="player.isEdit ? editvalues : values"
              [ngTemplateOutletContext]="{ row: player, index: $index}">
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <ng-template #values let-row="row" let-index="index">
    <th scope="row">{{ index + 1 }}</th>
    <td scope="row">{{ row.name }}</td>
    <td scope="row">{{ row.age }}</td>
    <td scope="row">{{ row.rating }}</td>
    <td scope="row">{{ row.weight }}</td>
    <td scope="row">
      <div class="d-flex gap-1">
        <span class="cursor-pointer" (click)="row.isEdit = !row.isEdit">Editar</span>
        <span class="cursor-pointer" (click)="removeRow(index)">Excluir</span>
      </div>
    </td>
  </ng-template>

  <ng-template #editvalues let-row="row" let-index="index">
    <th scope="row" class="th.sm">{{ index + 1 }}</th>
    <td scope="row">
      <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="row.name" />
    </td>
    <td scope="row">
      <input type="text" class="form-control" placeholder="Idade" [(ngModel)]="row.age" />
    </td>
    <td scope="row">
      <input type="text" class="form-control" placeholder="Avaliação" [(ngModel)]="row.rating" />
    </td>
    <td scope="row">
      <input type="text" class="form-control" placeholder="Peso" [(ngModel)]="row.weight" />
    </td>
    <td scope="row" class="cursor-pointer" (click)="row.isEdit = !row.isEdit; changeRows()">
      Concluir
    </td>
  </ng-template>
