/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

// .wrapper {
//   height: 100vh;
//   width: 100vw;
//   background: linear-gradient(45deg, #FFE6E6, #F2D1D1, #DAEAF1, #C6DCE4);
//   background-size: 300% 300%;
//   animation: colors 15s ease infinite;
// }

// @keyframes colors {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

.cursor-pointer {
  cursor: pointer;
}

.gap-2 {
  gap: 2rem
}
